header img{
width: 300px;
}

.my-header{
background-color:whitesmoke;


}
.card-jacket{
border-radius: 20px;
height: 500px;
width: 325px;
background-color: #f5f0f0;
border:0;

}
h2{
    color: gold;
    font-weight: 700;
}

.my-card{
border: 0;



}
.my-logo{
height:100px ;
width:100px ;
}
   

.btn img{
height: 50px;
width: 65px;

}
 .btn{
     background-color: olivedrab;
     border-radius: 10px;
 }
.logoF{
width: 700px;
height: 400px;
margin-left: 150px;
}
.my-card-footer{
    border: 0;
    margin-top: 30px;
    padding:20px;
}
.bunas{
    height: 250px;
    width: 600px;
    background-color: rgb(229, 243, 243);
    
}
.my-footer{
    text-align: center;
    margin-bottom:30px;
    font-weight: 600;
}
